`/*  Importing Google Font */
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Bree+Serif&family=Miniver&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

*{
    font-family: "Poppins", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root{
    /* color */
    --white: #fff;
    --black : #000;
    --primary-color: #6f4e37;
    --secondary-color: #d2b48c;
    --light-pink-color: #ffe4e1;
    --medium-gray-color: #808080;

    /* Font Sizes */
    --font-size-s:0.9rem;
    --font-size-n:1rem;
    --font-size-m:1.12rem;
    --font-size-l:1.5rem;
    --font-size-xl:2rem;
    --font-size-xxl:2.3rem;

    /* Font Weights */
    --font-weight-normal:400;
    --font-weight-medium:500;
    --font-weight-semi-bold:600;
    --font-weight-bold:700;

    /* Border Radius */
    --border-radius-s:8px;
    --border-radius-m:30px;
    --border-radius-circle:50%;

    /* Site max width */
    --site-max-width:1300px;
}

html{
    scroll-behavior: smooth;
}
/* Styling for whole site */

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

button{
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
}
img{
    width: 100%;
}

.section-content{
    max-width: var(--site-max-width);
    margin: 0 auto;
    padding: 0 20px;
}

.section-title{
    text-align: center;
    padding: 60px 0 100px;
    text-transform: uppercase;
    font-size: var(--font-size-xl);

}

.section-title::after{
    content: "";
    width: 80px;
    height: 5px;
    display: block;
    margin: 10px auto;
    border-radius: var(--border-radius-s);
    background: var(--secondary-color);
}

/* Navbar styling */
header{
    /* display: flex; */
    /* justify-content: space-between; */
    /* align-items: center; */
    /* padding: 20px 80px; */
    background-color: var(--black);
    position: fixed;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;

}
header .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    /* max-width: var(--site-max-width); */
    margin: 0 auto;
}

.navbar .nav-logo .logo-text{
    color: var(--white);
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-semibold);
    text-decoration: none;
}
.navbar .nav-menu  .nav-link:hover{
    background: var(--secondary-color);
    color: var(--primary-color);
    transition: all 0.3s ease;
}

.navbar :where(#menu-close-button, #menu-open-button ){
    display: block;
    font-size: var(--font-size-l);

}
.navbar .nav-menu{
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar .nav-menu  .nav-link{
    color: var(--white);
    padding: 10px 18px;
    /* background: var(--secondary-color); */
    border-radius: var(--border-radius-m);
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-medium);
    text-decoration: none;
    margin: 0 15px;
    transition: 0.3s ease;
}

/* Hero section styling */

.hero-section{
    min-height: 100vh;
    background: #000000;;
}

.hero-section .section-content {
    display: flex;
    align-items: center;
    min-height: 100vh;
    justify-content: space-between;
    
}
/* .hero-detalis .hero-title {
    color: #fff;
    display: flex;
} */

/* .hero-detalis .subtitle{
    color: #fff;
} */

/* .hero-detalis  .description{
    color: #fff;
    
} */

.hero-section .hero-detalis .hero-title{
    font-size: var(--font-size-xxl);
    color: var(--secondary-color);
    font-family: "Miniver",  cursive;
    color: yellow;
}
.hero-section .hero-detalis .subtitle{
    margin-top: 8px;
    max-width: 70%;
    color: #fff;
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-semibold);
}

.hero-section .hero-detalis .description{
    max-width: 70%;
    margin: 24px 0 40px;
    font-size: var(--font-size-m);
    color: #fff;

}

.hero-section .hero-detalis .buttons{
    display: flex;
    gap: 23px;
}

.hero-section .hero-detalis .button{
    padding: 10px 26px;
    border: 2px solid transparent;
    color: var(--black);
    border-radius: var(--border-radius-m);
    background: yellowgreen;
    font-weight: var(--font-weight-medium);
    background: transparent;
    border-color: antiquewhite;
    color: var(--white);
    
}

.hero-section .hero-detalis .button:hover{
    color: black;
    border-color: var(--secondary-color);
    background: var(--secondary-color);
}

.hero-section .hero-detalis .contact-us:hover{
    color: black;
    border-color:var(--secondary-color);
    background: var(--secondary-color);

}

.hero-section .hero-images-wrapper{
    max-width: 500px;
    height: 1000px;
    margin-right: 30px;
    
}
/* About section */

.about-section{
    padding: 30px 0;
    background: var(--light-pink-color);

}

.about-section .section-content{
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
    margin-left: 0;
   
}

.about-section .about-image-wrapper .about-image{
    width: 300px;
    height: 300px;
    margin-top: 100px;
    object-fit: cover;
    border-radius: var(--border-radius-circle);
  
}
 .text{
    /* margin-top: -70px; */
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;

}

.about-section .about-details .section-title{
    padding: 0;
}
.about-section .about-details{
    max-width: 60%;
}

.about-section .social-link-list{
    display: flex;
    gap: 25px;
    justify-content: center;
    
}
.about-section .social-link-list :hover{
    background: var(--secondary-color);
    /* width:80px; */
    border-radius: 10px;
    cursor: pointer;
    
}
/* Menu Section */

.menu-section{
    color: var(--white);
    background: var(--black);
    padding: 50px 0 200px;
}

                
.menu-section .menu-list{
    display: flex;
    flex-wrap: wrap;
    gap: 110px;
    align-items: center;
    justify-content: space-between;


}
.menu-section .menu-list .menu-item{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100% / 3 - 110px);
    
}


.menu-section .menu-list .menu-item .menu-image{
    max-width: 83%;
    aspect-ratio: 1;
    margin-bottom: 15px;
    object-fit: contain;
    /* width: 200px;
    height: 200px;
     */
   
}
.menu-section .menu-list .menu-item .name{
    margin: 12px 0;
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-semibold);
}
.menu-section .menu-list .menu-item .text{
    font-size: var(--font-size-m);

}

/* testimonial section styling */
.testimonials-section{
    padding: 50px 0 100px;
    background: var(--light-pink-color);

}
.testimonials-section .slider-wrapper{
    overflow: hidden;
    margin: 0 60px 50px;
}
.testimonials-section .testimonial{
    user-select: none;
    display: flex;
    padding: 35px;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.testimonials-section .testimonial .user-image{
    width: 120px;
    height: 120px;
    object-fit: cover;
    margin-bottom: 50px;
    border-radius: var(--border-radius-circle);
}
.testimonials-section .testimonial .name{
    margin-bottom: 16px;
    font-size: var(--font-size-m);
    font-weight: bolder;

}
.testimonials-section .testimonial .feedback{
    line-height: 25px;
}

.testimonials-section .swiper-pagination-bullet{
    width: 15px;
    height: 15px;
    opacity: 1;
    background: var(--secondary-color);
}

.testimonials-section .swiper-slide-button{
    margin-top: -50px;
    color: var(--secondary-color);
    transition: 0.3s ease;
}
.testimonials-section .swiper-slide-button:hover{
    color: var(--primary-color);

}

/* Gallery section Styling */

.gallery-section{
    padding: 50px 0 100px;
    
}
.gallery-section .gallery-list{
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    
}
.gallery-section .gallery-list .gallery-item{
    overflow: hidden;
    border-radius: var(--border-radius-s);
    width: calc(100% / 3 - 32px);
}
.gallery-section .gallery-list .gallery-item .gallery-image{
    width: 100%;
    height: 100%;
    cursor: zoom-in;
    transition: 0.3s ease;
}
.gallery-section  .gallery-item:hover .gallery-image{
    transform: scale(1.3);
}

/* contact us section styling */

.contact-section .section-content{
    display: flex;
    gap: 48px;
}
.contact-section .contact-info-list .contact-info{
    display: flex;
    gap: 20px;
    margin: 20px 0;
    align-items: center;

}
.contact-section .contact-info-list .contact-info i{
    font-size: var(--font-size-m);
}
.contact-section .contact-form .form-input{
    width: 100%;
    height: 50px;
    padding: 0 12px;
    outline: none;
    margin-bottom: 16px;
    background: var(--white);
    border-radius: var(--border-radius-s);
    border: 1px solid var(--medium-gray-color);

}
.contact-section .contact-form {
    max-width: 50%;
}
.contact-section .contact-form .form-input:focus{
    border-color: var(--secondary-color);

}
.contact-section .contact-form .textarea .form-input{
    height: 100px;
    padding: 12px;
    resize: vertical;
}
.contact-section .contact-form .submit-button{
    padding: 10px 26px;
    margin-top: 10px;
    color: white;
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-medium);
    background: var(--primary-color);
    border-radius: var(--border-radius-m);
    border: 1px solid var(--primary-color);
    transition: 0.3s ease;

}
.contact-section .contact-form .submit-button:hover{
    color: var(--primary-color);
    background: transparent;
}

.contact-section{
    padding: 50px 0 100px;
    background: var(--light-pink-color);
}
/* footer section */
.footer-section{
    padding: 20px 0;
    background: black;
}
.footer-section .section-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-section :where(.copyright-text, .social-link-list , .policy-link){
    color: var(--white);
    transition: 0.3s ease;
}

.footer-section .social-link-list{
    display: flex;
    gap: 25px;
}
.footer-section .social-link-list .socila-link{
    font-size: var(--font-size-l);
}
.footer-section .social-link-list .social-link-list:hover,
.footer-section .policy-text .policy-link:hover{
    color: var(--secondary-color);
}
.footer-section .policy-text .separator{
    margin: 0 5px;
    color: white;
}
