*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif
}
body{
    margin: 0px;
    padding: 0px;
}
.Project-Section{
    width: 100%;
    /* height: 500px; */
    padding-bottom: 50px   ;
    background-color: blanchedalmond;
    text-transform: capitalize;
      

}
.Project-section-mid{
    width: 1320px;
    margin: auto;
    text-align: center;
  
    
}
.Project-section-mid h1{
    padding-top: 10px;
    font-size: 40px;
    color: purple;
    font-weight: bold;
    text-transform: capitalize;

}
.Project-itmes-outer{
    width: 100%;
    height: auto;
    display: flex ;
    flex-wrap: wrap;
    margin-top: -30px;
    padding: -20px;
       
}
.project-items{
   width: 18%;
   margin: 1%;
   margin-top: 70px;
   padding: 30px 0px;
   background: whitesmoke;
   text-align: center;
   box-shadow: 2px 2px 10px black ;
}

.project-items img{
    width: 60px;
    height: 60px;
}


.flexExample{
    width: 1320px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;

}
.flexItmes{
    background-color: purple;
    color: white;
    margin: 10px;
    width: 500px;
}