/* naviation */
#navbar{
    flex-direction: column;
    width: auto;
    height: auto;
}

#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}

/* Home Section */

#home{
    height: 280px;
    padding: -3px -5px;
    /* margin: 0px 0px; */
    /* align-items: center; */
    /* justify-content: center; */
    /* padding-left: 20px 0px; */
    /* padding-right: 20px 0px; */
    /* padding-top: 10px 0px;
    padding-bottom: 10px 0px;   */
    /* display: flex; */
}
#home::before{
    height: 370px;
}
#home p{
    font-size: 1rem;
}

/* services section */

#services{
    flex-direction: column;

}
#service .box{
    padding: 14px;
}

/* clint Section */

.clints{
    flex-wrap: wrap;
}
.clints img{
    width: 66px;
    padding: 2px 6px;
    overflow: hidden;
    height: auto;
    
}


/* contact section */

/* contact us section */
#contact-box form{
    width: auto;
}


/* footer section */

/* utility classes */

.h-primary{
    font-size: 26px;
}

.btn{
    font-size: 13px;
    padding: 4px 8px;
    height: auto;
    width: auto;
    margin-top: -2px;
}