/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    
}

/* CSS variables */
/* :root {
   --navbar-height: 59px;
} */
/* 
Navigation Bar Styles */

#navbar {
    display: flex;
    align-items: center;
}

/* Navigation bar: Logo and image */
#logo{
    margin: 2px 15px;
    
    

}
 #logo img {
    height: 60px;
    margin: 3px 6px; */


   
}


/* Navigation bar: List styles */
#navbar{
    position: relative;
    height: 70px;
    background-color: brown;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0.7;
    top: 0;
    width: 100%;
    font-weight: bold;
    
    z-index: 1000;
}
#navbar ul li  {
    text-decoration: none;
    list-style: none;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 80px;
    transition: background-color 0.3s, color 0.3s;
}
#navbar ul {
  display: flex;
  /* margin-top: -50px; */
  list-style-type: none;
  gap: 20px;
  margin-left: 20px;
  font-family: 'Baloo 2', cursive;
}
 #navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
 }
    
#navbar ul li a {
    text-decoration: none;
    color:#fff;
    display: block;
    padding: 3px 22px;
    border-radius: 5px;
}
#navbar ul li:hover {
    background-color:#000;
    color: #fff;
    opacity: 0.8;
}
/* Home Section Styles */
#home {
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 500px;
    justify-content: center;
    align-items: center;
}

#home::before{
    content: "";
    background:url('images/spaghetti-1932466.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 80%;
    width: 100%;
    z-index: -1;
    opacity: 0.90;
}
#home h1 {
   color: #fff;
   text-align: center;
   font-size: 2.5rem;
   font-family: 'Bree Serif', serif;

}
#home p{
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Baloo 2', cursive;
}
/* services */
.services{
    margin: 34px;
    display: flex;
}
.services .box{
    border: 2px solid brown;
    margin: 3px 6px;
    padding: 34px;
    border-radius: 10px;
    box-shadow: black 0px 0px 10px;
    background-color: azure;
}
.services .box:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
    transition: transform 0.3s, box-shadow 0.3s;
    background-color: beige;
    cursor: pointer;
    text-transform: capitalize;
}
.services .box img{
    width: 100%;
    height: 300px;
    margin: auto;
    display: block ;
   
}
/* Clint section */

#clints-section{
     /* height: 200px;  */
    background: url(images/berries-2986532_1920.jpg) no-repeat center center/cover;
    color: #fff;
    /* margin: 34px;
    padding: 20px; */
    background-color: aliceblue;
    /* border-radius: 10px; */
    /* box-shadow: black 0px 0px 10px; */
    justify-content: center;
    text-align: center;
    cursor: pointer; 
    opacity: 0.9;
    position: relative;
    margin-top: -5px;
   
}

#clints-section:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
    transition: transform 0.5s, box-shadow 0.5s;
    transition-duration: 0.5s;

    
}

.clints{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    color: #fff;
      
    
    
}
.clint-item{
    padding: 34px;
    /* margin: 10px 15px; */
    
}
.clints img{
     width: 200px;
    height: 80px;   
    /* height: 124px;
    width: 120px;       */
}
   


/* Contact Section Styles */
#contact {
   position: relative;
   content: "";
   color: #fff;
   position: absolute;
   text-align: center;
   left: 0px;
   height: 590px;
   width: 100%;
   margin-top: 50px;
   z-index: -1;
   opacity: 0.7;
   background: url(images/spaghetti-2931846.jpg) no-repeat center center/cover;
}
.form-group {
    padding-left: 25px;
    margin: 10px 0 ;
    color: #fff;

}
.form-group input, .form-group textarea {
    width: 30%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
#contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
    flex-direction: column;
    gap: 15px;
    margin-top: 30px;
    padding-bottom: 30px;
}
#contact-box input,
#contact-box textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;

}
#contact-box form{
    width: 40%;
}
#contact-box label{ 
    font-size: 1.3rem;
    color: white;
    font-family: 'Bree Serif', serif;
}

footer{
    background-color: #000;
    color: #fff;
    padding: 15px 0;
    margin-top: -5px;
    opacity: 0.9;
    height: 25px;
    
}
.center p {
    margin: 0;
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    margin-top: -10px;
}



/* utility classes */
.h-primary {
    font-size: 3.8rem;
    padding: 12px;
    font-size: 3.8rem;
    font-family: 'Baloo 2', cursive;
    
}
.h-secondary {
    font-size: 2.8rem;
    padding: 10px;
    font-size: 1.8rem;
    font-family: 'Baloo 2', cursive;
    font-weight: bold ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
p {
    font-size: 1rem;
    padding: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    color: #333;
}
.btn{
    padding: 6px 18px;
    border: 2px solid #fff;
    border-radius: 10px;
    background-color: brown;
    color: #fff;
    margin: 17px 0 ;
    font-size: 1.5rem;
    cursor: pointer;
}
.btn:hover {
    background-color: #000;
    color: #fff;
    opacity: 0.8;
}  
.center {
    text-align: center;
} 
